@charset "UTF-8";

*, a, li {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  cursor: context-menu;
}

body, html {
  max-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

#conteudo {
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  background: darkgray;
  background-image: url(../imagens/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: grid;
  grid-template-areas: 
  "header header header header header header"
  "nome nome nome nome nome nome"
  "resultado resultado resultado resultado resultado resultado"
  "triangulo triangulo triangulo triangulo triangulo triangulo"
  "adicionar adicionar adicionar adicionar adicionar adicionar"
  "truco truco truco truco truco truco"
  "vitoria vitoria vitoria vitoria vitoria vitoria"
  "final final final final final final"
  ;
  position: relative;
}
/* header*/
.header {
  color: white;
  background-color: black; 
  grid-area: header;
  max-width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}
.header .icons {
  font-size: 27px;
}

.icons-left {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.icons-right {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.icons-right span:nth-child(3) {
  width: 18px;
  height: 24px;
  margin-left: -6px;
}
/* //// */


/* nome*/
.nome {
  /* background-color: red;  */
  grid-area: nome;
  height: 15vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.nome span {
  color: #fff; 
  font-size: 70px;
  font-weight: bold;
}
/* //// */

/* resultado*/
.resultado {
  /* background-color: blue;  */
  grid-area: resultado;
  height: 15vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.resultado span {
  color: #fff;
  font-size: 14vh;
  font-weight: bold;
}
/* ////*/

/* triângulo*/
.triangulo {
  grid-area: triangulo;
  height: auto;
  width: 100vw;
  }

  .triangulo .div-01-02 {
    height: 70px;
    width: 100%;
    display: flex;
    position: relative;
  }

  .triangulo .div-01 {
    height: auto;
    width: auto;
    position: absolute;
    top: 45%;
    left: 0%;
    margin: 0 2%;
  }

  .triangulo .div-02 {
    width: auto;
    height: auto;
    position: absolute;
    top: 45%;
    right: 0%;
    margin: 0 2%;
  }

  .triangulo div img {
    width: 60px;
  }

/* ///// */

/* adicionar*/
.adicionar {
  grid-area: adicionar;
  height: 23vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

  .adicionar > div {
    height: auto;
    width: auto;
    margin: 1px;
  }

  .adicionar > div img {
    max-width: 160px;
  }
/* ///// */

/* truco*/
.truco {
  grid-area: truco;
  height: auto;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .truco .div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 0 2%;
  }

  .truco .div p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
/* //// */

/* vitória*/
.vitoria {
  grid-area: vitoria;
  height: auto;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  }

  .vitoria div {
    width: auto;
    height: auto;
  }

  .vitoria div span {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
  }
/* //// */

/* resutado final*/
.resultato-final { 
  grid-area: final;
  height: auto;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  }

  .resultato-final div {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .resultato-final div span {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
  }